{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunts qui suscipit ducimus voluptatem fuga voluptate consequatur, velit sunt repellat nihil nemo repellendus vero aliquam accusantium deserunt? Suscipit tempore vitae blanditiis.</p>

    <div class="text-center">
      <a class="btn btn-secondary" href="/signin/">
        Signin
      </a>
      <a class="btn btn-dark" href="/signup/">
        Signup
      </a>
    </div>

  </section>
</main>

{% endblock %}